.team-card {
	border: 1px solid $grayblue;
	border-radius: 15px;
	.team-card-image {
		height: 200px;
		width: 100%;
		display: block;
		background-color: $grayblue;
	}
}

.bio-hide {
	display: none;
}

.bio-reveal {
	display: block;
}

.blog-card-image {
	height: 200px;
	width: 100%;
	display: block;
	background-color: $grayblue;	
	border-radius: 15px 15px 0 0;
}

.card-image {
	background-color: $green;
	border-radius: 5px;
	height: 100px;
	width: auto;
}

.shadow-card {
	-webkit-box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.16);
	box-shadow: 0px 3px 21px -3px rgba(0,0,0,0.16);
}