.team-card {
	border: 1px solid $grayblue;
	border-radius: 15px;
	.team-card-image {
		height: 200px;
		width: 100%;
		display: block;
		background-color: $grayblue;
	}
}

.bio-hide {
	display: none;
}

.bio-reveal {
	display: block;
}