// padding
.large-topandbottom-padding {
	padding-top: $large;
	padding-bottom: $large;
}

.medium-topandbottom-padding {
	padding-top: $medium;
	padding-bottom: $medium;
}

.small-topandbottom-padding {
	padding-top: $small;
	padding-bottom: $small;
}

.large-top-padding {
	padding-top:  $large;
}

.medium-top-padding {
	padding-top: $medium;
}

.small-top-padding {
	padding-top: $small;
}

.large-bottom-padding {
	padding-bottom:  $large;
}

.medium-bottom-padding {
	padding-bottom: $medium;
}

.small-bottom-padding {
	padding-bottom: $small;
}

// margins
.large-topandbottom-margin {
	margin-top: $large;
	margin-bottom: $large;
}

.medium-topandbottom-margin {
	margin-top: $medium;
	margin-bottom: $medium;
}

.small-topandbottom-margin {
	margin-top: $small;
	margin-bottom: $small;
}

.large-top-margin {
	margin-top:  $large;
}

.medium-top-margin {
	margin-top: $medium;
}

.small-top-margin {
	margin-top: $small;
}

.large-bottom-margin {
	margin-bottom:  $large;
}

.medium-bottom-margin {
	margin-bottom: $medium;
}

.small-bottom-margin {
	margin-bottom: $small;
}