$navy: #0E272D;
$green: #57C988;
$blue: #5BC0CE;


.white-text {
	color: white !important;
}
.navy-text {
	color: $navy !important;
}
.blue-text {
	color: $blue !important;
}
.green-text {
	color: $green !important;
}

.bg-white {
	background-color: white;
}