$navy: #0E272D;
$green: #57C988;
$blue: #5BC0CE;
$lightblue: #EDF4F4;


.white-text {
	color: white !important;
}
.navy-text {
	color: $navy !important;
}
.blue-text {
	color: $blue !important;
}
.green-text {
	color: $green !important;
}

.bg-white {
	background-color: white;
}
.bg-navy {
	background-color: $navy;
}
.bg-lightblue {
	background-color: $lightblue;
}

.border-radius {
	border-radius: 15px;
}

.center-text {
	text-align: center;
}