$navy: #0E272D;
$green: #57C988;
$blue: #5BC0CE;
$lightblue: #EDF4F4;
$forestgreen: #368273;


.white-text {
	color: white !important;
}
.navy-text {
	color: $navy !important;
}
.blue-text {
	color: $blue !important;
}
.green-text {
	color: $green !important;
}

.bg-white {
	background-color: white;
}
.bg-navy {
	background-color: $navy;
}
.bg-lightblue {
	background-color: $lightblue;
}

.angle-top-bg-navy  {
	background-color: $navy;
	height: 200px;
	margin-top: -200px;
	position: relative;
	z-index: 5;
}

.border-radius {
	border-radius: 15px;
}

.center-text {
	text-align: center;
}

.top-z-index {
	position: relative;
	z-index: 500;
}

.home-framework-card-image {
	height: 700px;
	background-size: contain !important;
}